<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="static/style.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>About Us Page</title>
</head>
<body>
    <div class="nav">
        <nav>
            <div class="logo">
                The PLACE
            </div>
            <div class="nav-menu">
                <a href="index.html">Home</a>
                <a href="menu.html">Menu</a>
                <a href="about us.html">About Us</a>
                <a href="ContactPage.html">Contact</a>
            </div>
        </nav>
    </div>
    <br>
    <setion>
        <div class="about us">
            <h1>About Us</h1>
            <div class="wrapper">
                <div class="content">
                    <h3>KEHINDE PETER GROUP</h3>
                 <p>KEHINDE PETER - 23/2553</p>
                 <p>ENEJOH WINNING - 23/2918</p>
                 <p>EBUEBU SHARON - 23/2648</p>
                 <p>FAYOMADE OPEYEMI - 23/2788</p>
                 <p>FASAKIN DAVID - 23/2772</p>
                 <p>FOLAYAN OLUWAKOREDE - 23/0509</p>
                 <p>IBAZEBO ISRAEL - 23/2381</p>

                       <div class="button">
                        <a href="">Read more</a>
                       </div>
                       
                </div>
                <div class="image-section">
                    <img src="materials/chef.jpeg">
                </div>
            </div>
        </div>
        
    </setion>

</body>
</html>