<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Explore</title>

</head>
<body>
    <div class="header">
        EXPLORE:
        <h3>Embark on a culinary adventure with us, where every dish is a passport to flavor and every experience 
            ignites your passion for food—let's explore the world, one bite at a time!"</h3>
        </div>

    <div class="food-section">
        <h1>PIZZA</h1>
        <div class="food-pic">
            <img src="new project/pizza.project.jpeg" alt="PIZZA">
        </div>

        <h3>Enjoy our crispy wood-fired pizzas with melty cheese and bold flavors-irresistible in every bite.</h3>
        <h3>Ingredients and Nutritional Information:</h3>
        <h3>Ingredients:</h3>

        <p> 
            Flour,Water,Yeast, Salt,Sugar, Olive oil, Tomato sauce, Crushed tomatoes,Tomato paste, Garlic, Onion, Olive oil, Herbs 
            Salt and pepper,Cheese,Mozzarella cheese ,Parmesan cheese,Provolone cheese,Ricotta cheese, Pepperoni, Sausage, Mushrooms
            Bell peppers, Onions, Olives, Spinach, Pineapple, Basil, Jalapeños, Anchovies, Chicken
        </p>

        <h3>Nutritional Information (per slice):</h3>

        <p>
            <b>
            *Calories-285kal
            *Protein-12g
            *Carbs-36g
            *Fat-10g
            *Sodium-640mg
            </b>
        </p>

        <h3>Price List:</h3>
        <p>Margherita Pizza- 4,000</p>
        <p>Pepperoni Pizza-4,500</p>
        <p>Vegetable Supreme Pizza-5,000</p>
        <p>BBQ Chicken Pizza-5,500</p>
        <p>Hawaiian Pizza-6,000</p>
        <p>Meat Lovers Pizza-7,000 </p>
    </div>


    <h1>SPAGHETTI BOLOGNESE</h1>
    <img src="spaghetti.project.jpeg" alt="Spaghetti Bolognese">

    <h3>
        Dive into the rich, savory world of authentic Spaghetti 
        Bolognese that will transport your taste buds staright to italy!
    </h3>
        <h3>Ingredients and Nutritional Information:</h3>
        <h3>Ingredients:</h3>

        <p>
            olive oil, onion, garlic cloves, ground beef, canned tomatoes, tomato paste, Salt pepper, spaghetti
        </p>

    <h3>Nutritional Information:</h3>
    <p>
            Calories: 500-600 kcal
            Protein: 25-30 g,
            Carbohydrates: 60-70 g,
            Sugars: 5-7 g,
            Dietary Fiber: 3-5 g,
            Fat: 20-25 g,
            Saturated Fat: 7-10 g,
            Cholesterol: 50-70 mg,
            Sodium: 500-800 mg,
            Vitamins and Minerals
            Iron: 15% of the Daily Value (DV),
            Calcium: 10% of the DV,
            Vitamin A: 20% of the DV,
            Vitamin C: 10% of the DV.
    </p>

    <h3>Price List:</h3>
    
    <p>Basic Spaghetti Bolognese (small portion)-2000 Naira</p>
    <p>Standard Spaghetti Bolognese (regular portion)-2500 Naira</p>
    <p>Spaghetti Bolognese with a side salad-3000 Naira</p>
    <p>Gourmet Spaghetti Bolognese with coleslaw-3500 Naira</p>
    <p>Spaghetti Bolognese with extra meat and sauce-4000 Naira</p>
    <p>Premium Spaghetti Bolognese with wine pairing and dessert-4500 Naira</p>
    <hr>


    <h1>BURGER</h1>
    <img src="burger.project.jpeg" alt="Burger">

    <h3>Bite into greatness with our juicy,flavor packed burgers-where every mouthful is pure satisfaction!</h3>

    <h3>Ingredients and Nutritional Information</h3>
    <h3>Ingredients:</h3>
    <p>
    Ground beef, Salt, pepper, garlic powder, onion powder, hamburger buns, Lettuce leaves, Tomato slices, Onion slices 
    Pickles, Cheese slices, Ketchup, Mustard, Mayonnaise, BBQ sauce, Bacon, Avocado, Jalapeños, Fried egg
    </p>

    <h3>Nutritional Information (Approxiamte for one Burger):</h3>
    <p>
    Calories: 300-600kcal,
    Protein: 20-30g,
    Carbohydrates: 30-40g,
    Sugars: 4-6 g,
    Dietary Fiber: 1-3g,
    Fat: 15-30g,
    Saturated Fat: 5-10g,
    Cholesterol: 50-90mg,
    Sodium: 400-800mg,
    Vitamins and Minerals
    Iron: 10-15% of the Daily Value (DV),
    Calcium: 10-20% of the DV,
    Vitamin A: 10-15% of the DV,
    Vitamin C: 5-10% of the DV.
    </p>


    <h3>Price List:</h3>
    <p>Basic Hamburger (beef patty, lettuce, tomato)-2500 Naira</p>
    <p>Cheeseburger (beef patty, cheese, lettuce, tomato)-2800 Naira</p>
    <p>Bacon Cheeseburger (with bacon, cheese, and toppings)-3000 Naira</p>
    <p>Gourmet Burger (special sauce, fresh veggies)-3200 Naira</p>
    <p>Double Patty Burger (two beef patties, cheese)-3500 Naira</p>
    <hr>
    <h1>COLDSTONE ICECREAM</h1>
    <img src="coldstone.project.jpeg" alt="ColdStone icecream">
    <h3>
        Indulge in the creamiest, dreamiest ice cream experience-where evry scoop is a masterpiece!
    </h3>
    <h3>Ingredients and Nutritional Information:</h3>
    <h3>Ingredients:</h3>


    <p>
Condensed Milk, Evaporated Milk, Almond,coconut extract, Fresh mint, basil, cinnamon, Cocoa powder 
strawberries, mangoes, bananas, Honey, Maple Syrup, Agave Nectar, Corn Syrup, Liquid Glucose, Powdered Milk
 Almonds, pecans, walnuts, Crushed cookies, Xanthan Gum.
</p>

<h3>Nutritional Information:</h3>
<p>
    Calories: 207 kcal, Total Fat: 11 g, Saturated Fat: 7 g, Trans Fat: 0 g
    Cholesterol: 44 mg, Sodium: 50 mg,  Total Carbohydrates: 24 g, Dietary Fiber: 0 g, Sugars: 20 g
    Protein: 3 g
   <p>Vitamins and Minerals:</p>
   <p> Calcium: Approximately 100 mg (10% of Daily Value)<br>
    Phosphorus: Approximately 90 mg (9% of Daily Value)<br>
    Vitamin A: Varies based on the ingredients used, but typically around 5% of Daily Value.</p>

    <h3>Price List:</h3>

<p> Single Scoop (Vanilla/Chocolate)-1,500 Naira</p>
<p>Double Scoop (Vanilla/Chocolate)-2,000 Naira</p>
<p>Specialty Flavor (e.g., Mango, Strawberry)-2,500 Naira</p>
<p>Premium Flavor (e.g., Cookies & Cream, Mint Chocolate Chip)-3,000 Naira</p>
<p>Milkshake (any flavor)-3,000 Naira</p>
<p>Pint of Ice Cream (500g)-3,500 Naira</p>
<hr>

<h1>JOLLOF RICE</h1>
<img src="jollof.project.jpeg" alt="Jollof Rice">
<h3>Where the perfect blend of spices and tomato sauce creates a party for your taste buds!</h3>
<h3>Ingredients and Nutritional Information:</h3>
<h3>Ingredients:</h3>
<p>
 Rice, Tomatoes, Tomato Paste, Onions, Bell Peppers, Garlic, Ginger, Chicken Broth, Bay Leaves
Thyme, Curry Powder, Salt, Black Pepper, Scotch Bonnet Pepper, Vegetable Oil
</p>
<h3>Nutritional Information(Per One CupCooked):</h3>

<p>
 Calories: Approximately 250-350 kcal
Total Fat: 8-12 g, Saturated Fat: 2-4 g, Trans Fat: 0 g, Cholesterol: 0 mg (if made vegetarian),Sodium: 300-500 mg (varies depending on added salt and broth)
Total Carbohydrates: 45-60g,
Dietary Fiber: 2-4g,
Sugars: 1-3g,
Protein: 4-6g.
</p>

<h3>Price List:</h3>
<p>Small Serving (1 plate, single portion)-3,500 Naira</p>
<p>Medium Serving (1 plate, multiple servings)-4,000 Naira</p>
<p>Jollof Rice with Fried Plantain-4,200 Naira</p>
<p>Custom Jollof Rice (special ingredients)-4,500 Naira</p>
<p>Family Size Serving (2-3 people)-4,700 Naira</p>
<p>Jollof Rice with Beef or Goat Meat-4,800 Naira</p>
<p>Party Size Tray (Feeds 10-15 people)-5,000 Naira</p>
<hr>

<h1>BREAKFAST SET</h1>
<img src="breakfasts.project.jpeg" alt="breakfast set">
<h3>Indulge in a breakfast experience that transforms ordinary mornings into extraordinary feasts!</h3>
<p>Breakfast set includes- Plantain, egg, fish sauce</p>
<h3>Ingredients and Nutritional Information:</h3>
<h3>Ingredients:</h3>
<p>
    Ripe plantains, Vegetable oil, Salt, eggs, Salt pepper, oil, fish sauce
  lime juice, sugar, chili, herbs, vegetables, onions, bell peppers    
</p>
<h3>Nutritional Information:</h3>
<p>
Total Calories-232g, Total Carbohydrates-32g, Dietary Fiber-3g,
Total Sugars-14g, Total Protein-9g, Total Fat-7.8g,
Saturated Fat-2g, Total Cholesterol-186mg, Total Sodium-1,200mg
</p>
<h3>Price List:</h3>
<p>Basic Set (2 fried plantains, 2 eggs)-2500</p>
<p>Standard Set (2 fried plantains, 2 scrambled eggs, and a side of fish sauce)-3500</p>
<p>Deluxe Set (3 fried plantains, 2 poached eggs, avocado slice, and a side of fish sauce)-4000</p>
<p>Family Set (4 fried plantains, 4 eggs, assorted toppings, and a side of pepper sauce)-4500</p>
<hr>

<h1>PARFAIT</h1>
<img src="parfait.project.jpeg" alt="PARFAIT">
<h3>Treat yourself to a parfait that's as gorgeous as it is delicious—because you deserve a
     little luxury in every bite
</h3>
<h3>Ingredients and Nutritional Information:</h3>
<h3>Ingredients:</h3>
<p>
 Greek yogurt, Bananas, Honey, maple syrup, Almonds, walnuts, chia seeds, 
vanilla extract , Chocolate Chips
</p>
<h3>Nutritional Information:</h3>
<p>
    Calories: 250-400kcal, Protein: 10-20g, Fat: 5-15g, Saturated Fat: 2-5g
    Carbohydrates: 40-60g, Fiber: 5-10g, Sugars: 15-25g, Calcium: 15-30% of Daily Value(DV),
    Iron: 5-10% of DV   
</p>
<h3>PRICE LIST:</h3>
<p>Basic Yogurt Parfait (Yogurt, granola, mixed berries)-2000</p>
<p>Fruity Delight Parfait (Yogurt, granola, seasonal fruits)-2500</p>
<p>Nutty Crunch Parfait (Yogurt, granola, mixed nuts, and honey)-3000</p>
<p>Chocolate Lovers Parfait (Yogurt, granola, chocolate chips, and berries)-3500</p>
<p>Deluxe Superfood Parfait (Greek yogurt, granola, mixed berries, chia seeds, and honey)-4000</p>
<hr>

<h1>CHICKEN and CHIPS</h1>
<img src="chicken.project.jpeg" alt="CHICKEN and CHIPS">
<h3>Experience the perfect harmony of juicy, tender chicken 
    and perfectly seasoned chips that will leave you craving more</h3>
<h3>Ingredients and Nutritional Information:</h3>
<h3>Ingredients:</h3>
<p>
   Chicken Thighs, Salt, Pepper, Garlic powder, Onion powder
 Paprika, rosemary, Buttermilk, Flour, Egg, Potatoes, Oil, Salt, Ketchup
</p>
<h3>Nutritonal Information:</h3>
<p>
Calories: 250-400kcal, Protein: 20-30g, Fat: 15-25g,
Saturated Fat: 3-7g, Carbohydrates: 0-5 g,
Cholesterol: 60-100mg, Sodium: 300-600mg.
</p>
<h3>PRICE LIST:</h3>
<p>Classic Chicken and Chips (1 piece of fried chicken with regular chips)-2000</p>
<p>Spicy Chicken and Chips (1 piece of spicy fried chicken with seasoned chips)-2500</p>
<p>Double Chicken and Chips (2 pieces of fried chicken with regular chips)-3000</p>
<p>Deluxe Chicken and Chips (1 piece of fried chicken, loaded chips with toppings)-3500</p>
<p>Family Chicken and Chips (4 pieces of fried chicken with large chips)-4000</p>
</body>
</html>