<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Explore</title>

</head>

<body>
    <div class="nav">
        <nav>
            <div class="logo">
                The PLACE
            </div>
            <div class="nav-menu">
                <a href="index.html">Home</a>
                <a href="menu.html">Menu</a>
                <a href="#">About Us</a>
                <a href="ContactPage.html">Contact</a>
            </div>
        </nav>
    </div>

    <div class="food-section">
        <h1>PARFAIT</h1>
        <img src="materials/parfait.project.jpeg" alt="PARFAIT">
        <h3>Treat yourself to a parfait that's as gorgeous as it is delicious—because you deserve a
            little luxury in every bite
        </h3>
        <h3>Ingredients and Nutritional Information:</h3>
        <h3>Ingredients:</h3>
        <p>
            Greek yogurt, Bananas, Honey, maple syrup, Almonds, walnuts, chia seeds,
            vanilla extract , Chocolate Chips
        </p>
        <h3>Nutritional Information:</h3>
        <p>
            Calories: 250-400kcal, Protein: 10-20g, Fat: 5-15g, Saturated Fat: 2-5g
            Carbohydrates: 40-60g, Fiber: 5-10g, Sugars: 15-25g, Calcium: 15-30% of Daily Value(DV),
            Iron: 5-10% of DV
        </p>
        <h3>PRICE LIST:</h3>
        <p>Basic Yogurt Parfait (Yogurt, granola, mixed berries)-2000</p>
        <p>Fruity Delight Parfait (Yogurt, granola, seasonal fruits)-2500</p>
        <p>Nutty Crunch Parfait (Yogurt, granola, mixed nuts, and honey)-3000</p>
        <p>Chocolate Lovers Parfait (Yogurt, granola, chocolate chips, and berries)-3500</p>
        <p>Deluxe Superfood Parfait (Greek yogurt, granola, mixed berries, chia seeds, and honey)-4000</p>
    </div>