<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Explore</title>

</head>
<body>
    
    <div class="nav">
        <nav>
            <div class="logo">
                The PLACE
            </div>
            <div class="nav-menu">
                <a href="index.html">Home</a>
                <a href="menu.html">Menu</a>
                <a href="#">About Us</a>
                <a href="ContactPage.html">Contact</a>
            </div>
        </nav>
    </div>

    <div class="food-section">
        <h1>ICECREAM</h1>
        <img src="materials/coldstone.project.jpeg" alt="ColdStone icecream">
        <h3>
            Indulge in the creamiest, dreamiest ice cream experience-where evry scoop is a masterpiece!
        </h3>
        <h3>Ingredients and Nutritional Information:</h3>
        <h3>Ingredients:</h3>
    
    
        <p>
    Condensed Milk, Evaporated Milk, Almond,coconut extract, Fresh mint, basil, cinnamon, Cocoa powder 
    strawberries, mangoes, bananas, Honey, Maple Syrup, Agave Nectar, Corn Syrup, Liquid Glucose, Powdered Milk
     Almonds, pecans, walnuts, Crushed cookies, Xanthan Gum.
    </p>
    
    <h3>Nutritional Information:</h3>
    <p>
        Calories: 207 kcal, Total Fat: 11 g, Saturated Fat: 7 g, Trans Fat: 0 g
        Cholesterol: 44 mg, Sodium: 50 mg,  Total Carbohydrates: 24 g, Dietary Fiber: 0 g, Sugars: 20 g
        Protein: 3 g
       <p>Vitamins and Minerals:</p>
       <p> Calcium: Approximately 100 mg (10% of Daily Value)<br>
        Phosphorus: Approximately 90 mg (9% of Daily Value)<br>
        Vitamin A: Varies based on the ingredients used, but typically around 5% of Daily Value.</p>
    
        <h3>Price List:</h3>
    
    <p> Single Scoop (Vanilla/Chocolate)-1,500 Naira</p>
    <p>Double Scoop (Vanilla/Chocolate)-2,000 Naira</p>
    <p>Specialty Flavor (e.g., Mango, Strawberry)-2,500 Naira</p>
    <p>Premium Flavor (e.g., Cookies & Cream, Mint Chocolate Chip)-3,000 Naira</p>
    <p>Milkshake (any flavor)-3,000 Naira</p>
    <p>Pint of Ice Cream (500g)-3,500 Naira</p>
    </div>