<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Explore</title>

</head>

<body>
    <div class="nav">
        <nav>
            <div class="logo">
                The PLACE
            </div>
            <div class="nav-menu">
                <a href="index.html">Home</a>
                <a href="menu.html">Menu</a>
                <a href="#">About Us</a>
                <a href="ContactPage.html">Contact</a>
            </div>
        </nav>
    </div>

    <div class="food-section">
        <h1>BREAKFAST SET</h1>
        <img src="materials/breakfasts.project.jpeg" alt="breakfast set">
        <h3>Indulge in a breakfast experience that transforms ordinary mornings into extraordinary feasts!</h3>
        <p>Breakfast set includes- Plantain, egg, fish sauce</p>
        <h3>Ingredients and Nutritional Information:</h3>
        <h3>Ingredients:</h3>
        <p>
            Ripe plantains, Vegetable oil, Salt, eggs, Salt pepper, oil, fish sauce
            lime juice, sugar, chili, herbs, vegetables, onions, bell peppers
        </p>
        <h3>Nutritional Information:</h3>
        <p>
            Total Calories-232g, Total Carbohydrates-32g, Dietary Fiber-3g,
            Total Sugars-14g, Total Protein-9g, Total Fat-7.8g,
            Saturated Fat-2g, Total Cholesterol-186mg, Total Sodium-1,200mg
        </p>
        <h3>Price List:</h3>
        <p>Basic Set (2 fried plantains, 2 eggs)-2500</p>
        <p>Standard Set (2 fried plantains, 2 scrambled eggs, and a side of fish sauce)-3500</p>
        <p>Deluxe Set (3 fried plantains, 2 poached eggs, avocado slice, and a side of fish sauce)-4000</p>
        <p>Family Set (4 fried plantains, 4 eggs, assorted toppings, and a side of pepper sauce)-4500</p>
    </div>