<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Pizza</title>

</head>
<body>
    <div class="nav">
        <nav>
            <div class="logo">
                The PLACE
            </div>
            <div class="nav-menu">
                <a href="index.html">Home</a>
                <a href="menu.html">Menu</a>
                <a href="#">About Us</a>
                <a href="ContactPage.html">Contact</a>
            </div>
        </nav>
    </div>
    <div class="food-section">
        <h1>PIZZA</h1>
        <div class="food-pic">
            <img src="materials\wallpaperflare.com_wallpaper.jpg" alt="PIZZA">
        </div>

        <h3>Enjoy our crispy wood-fired pizzas with melty cheese and bold flavors-irresistible in every bite.</h3>
        <h3>Ingredients and Nutritional Information:</h3>
        <h3>Ingredients:</h3>

        <p> 
            Flour,Water,Yeast, Salt,Sugar, Olive oil, Tomato sauce, Crushed tomatoes,Tomato paste, Garlic, Onion, Olive oil, Herbs 
            Salt and pepper,Cheese,Mozzarella cheese ,Parmesan cheese,Provolone cheese,Ricotta cheese, Pepperoni, Sausage, Mushrooms
            Bell peppers, Onions, Olives, Spinach, Pineapple, Basil, Jalapeños, Anchovies, Chicken
        </p>

        <h3>Nutritional Information (per slice):</h3>

        <p>
            <b>
            *Calories-285kal
            *Protein-12g
            *Carbs-36g
            *Fat-10g
            *Sodium-640mg
            </b>
        </p>

        <h3>Price List:</h3>
        <p>Margherita Pizza- 4,000</p>
        <p>Pepperoni Pizza-4,500</p>
        <p>Vegetable Supreme Pizza-5,000</p>
        <p>BBQ Chicken Pizza-5,500</p>
        <p>Hawaiian Pizza-6,000</p>
        <p>Meat Lovers Pizza-7,000 </p>
    </div>
</body>
</html>