<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Explore</title>

</head>
<body>
    <div class="nav">
        <nav>
            <div class="logo">
                The PLACE
            </div>
            <div class="nav-menu">
                <a href="index.html">Home</a>
                <a href="menu.html">Menu</a>
                <a href="about us.html">About Us</a>
                <a href="ContactPage.html">Contact</a>
            </div>
        </nav>
    </div>

    <div class="food-section">
        <h1>BURGER</h1>
        <img src="materials/burger.project.jpeg" alt="Burger">
    
        <h3>Bite into greatness with our juicy,flavor packed burgers-where every mouthful is pure satisfaction!</h3>
    
        <h3>Ingredients and Nutritional Information</h3>
        <h3>Ingredients:</h3>
        <p>
        Ground beef, Salt, pepper, garlic powder, onion powder, hamburger buns, Lettuce leaves, Tomato slices, Onion slices 
        Pickles, Cheese slices, Ketchup, Mustard, Mayonnaise, BBQ sauce, Bacon, Avocado, Jalapeños, Fried egg
        </p>
    
        <h3>Nutritional Information (Approxiamte for one Burger):</h3>
        <p>
        Calories: 300-600kcal,
        Protein: 20-30g,
        Carbohydrates: 30-40g,
        Sugars: 4-6 g,
        Dietary Fiber: 1-3g,
        Fat: 15-30g,
        Saturated Fat: 5-10g,
        Cholesterol: 50-90mg,
        Sodium: 400-800mg,
        Vitamins and Minerals
        Iron: 10-15% of the Daily Value (DV),
        Calcium: 10-20% of the DV,
        Vitamin A: 10-15% of the DV,
        Vitamin C: 5-10% of the DV.
        </p>
    
    
        <h3>Price List:</h3>
        <p>Basic Hamburger (beef patty, lettuce, tomato)-2500 Naira</p>
        <p>Cheeseburger (beef patty, cheese, lettuce, tomato)-2800 Naira</p>
        <p>Bacon Cheeseburger (with bacon, cheese, and toppings)-3000 Naira</p>
        <p>Gourmet Burger (special sauce, fresh veggies)-3200 Naira</p>
        <p>Double Patty Burger (two beef patties, cheese)-3500 Naira</p>
    </div>