<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Explore</title>

</head>

<body>
    <div class="nav">
        <nav>
            <div class="logo">
                The PLACE
            </div>
            <div class="nav-menu">
                <a href="index.html">Home</a>
                <a href="menu.html">Menu</a>
                <a href="about us.html">About Us</a>
                <a href="ContactPage.html">Contact</a>
            </div>
        </nav>
    </div>

    <div class="food-section">
        <h1>CHICKEN and CHIPS</h1>
        <img src="materials/chicken.project.jpeg" alt="CHICKEN and CHIPS">
        <h3>Experience the perfect harmony of juicy, tender chicken
            and perfectly seasoned chips that will leave you craving more</h3>
        <h3>Ingredients and Nutritional Information:</h3>
        <h3>Ingredients:</h3>
        <p>
            Chicken Thighs, Salt, Pepper, Garlic powder, Onion powder
            Paprika, rosemary, Buttermilk, Flour, Egg, Potatoes, Oil, Salt, Ketchup
        </p>
        <h3>Nutritonal Information:</h3>
        <p>
            Calories: 250-400kcal, Protein: 20-30g, Fat: 15-25g,
            Saturated Fat: 3-7g, Carbohydrates: 0-5 g,
            Cholesterol: 60-100mg, Sodium: 300-600mg.
        </p>
        <h3>PRICE LIST:</h3>
        <p>Classic Chicken and Chips (1 piece of fried chicken with regular chips)-2000</p>
        <p>Spicy Chicken and Chips (1 piece of spicy fried chicken with seasoned chips)-2500</p>
        <p>Double Chicken and Chips (2 pieces of fried chicken with regular chips)-3000</p>
        <p>Deluxe Chicken and Chips (1 piece of fried chicken, loaded chips with toppings)-3500</p>
        <p>Family Chicken and Chips (4 pieces of fried chicken with large chips)-4000</p>
    </div>