<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Explore</title>

</head>
<body>
    <div class="nav">
        <nav>
            <div class="logo">
                The PLACE
            </div>
            <div class="nav-menu">
                <a href="index.html">Home</a>
                <a href="menu.html">Menu</a>
                <a href="#">About Us</a>
                <a href="ContactPage.html">Contact</a>
            </div>
        </nav>
    </div>

    <div class="food-section">
        <h1>SPAGHETTI BOLOGNESE</h1>
    <img src="materials/spaghetti.project.jpeg" alt="Spaghetti Bolognese">

    <h3>
        Dive into the rich, savory world of authentic Spaghetti 
        Bolognese that will transport your taste buds staright to italy!
    </h3>
        <h3>Ingredients and Nutritional Information:</h3>
        <h3>Ingredients:</h3>

        <p>
            olive oil, onion, garlic cloves, ground beef, canned tomatoes, tomato paste, Salt pepper, spaghetti
        </p>

    <h3>Nutritional Information:</h3>
    <p>
            Calories: 500-600 kcal
            Protein: 25-30 g,
            Carbohydrates: 60-70 g,
            Sugars: 5-7 g,
            Dietary Fiber: 3-5 g,
            Fat: 20-25 g,
            Saturated Fat: 7-10 g,
            Cholesterol: 50-70 mg,
            Sodium: 500-800 mg,
            Vitamins and Minerals
            Iron: 15% of the Daily Value (DV),
            Calcium: 10% of the DV,
            Vitamin A: 20% of the DV,
            Vitamin C: 10% of the DV.
    </p>

    <h3>Price List:</h3>
    
    <p>Basic Spaghetti Bolognese (small portion)-2000 Naira</p>
    <p>Standard Spaghetti Bolognese (regular portion)-2500 Naira</p>
    <p>Spaghetti Bolognese with a side salad-3000 Naira</p>
    <p>Gourmet Spaghetti Bolognese with coleslaw-3500 Naira</p>
    <p>Spaghetti Bolognese with extra meat and sauce-4000 Naira</p>
    <p>Premium Spaghetti Bolognese with wine pairing and dessert-4500 Naira</p>
    <hr>
    </div>