<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Explore</title>

</head>

<body>
    <div class="nav">
        <nav>
            <div class="logo">
                The PLACE
            </div>
            <div class="nav-menu">
                <a href="index.html">Home</a>
                <a href="menu.html">Menu</a>
                <a href="#">About Us</a>
                <a href="ContactPage.html">Contact</a>
            </div>
        </nav>
    </div>

    <div class="food-section">
        <h1>JOLLOF RICE</h1>
        <img src="materials/jollof.project.jpeg" alt="Jollof Rice">
        <h3>Where the perfect blend of spices and tomato sauce creates a party for your taste buds!</h3>
        <h3>Ingredients and Nutritional Information:</h3>
        <h3>Ingredients:</h3>
        <p>
            Rice, Tomatoes, Tomato Paste, Onions, Bell Peppers, Garlic, Ginger, Chicken Broth, Bay Leaves
            Thyme, Curry Powder, Salt, Black Pepper, Scotch Bonnet Pepper, Vegetable Oil
        </p>
        <h3>Nutritional Information(Per One CupCooked):</h3>

        <p>
            Calories: Approximately 250-350 kcal
            Total Fat: 8-12 g, Saturated Fat: 2-4 g, Trans Fat: 0 g, Cholesterol: 0 mg (if made vegetarian),Sodium:
            300-500 mg (varies depending on added salt and broth)
            Total Carbohydrates: 45-60g,
            Dietary Fiber: 2-4g,
            Sugars: 1-3g,
            Protein: 4-6g.
        </p>

        <h3>Price List:</h3>
        <p>Small Serving (1 plate, single portion)-3,500 Naira</p>
        <p>Medium Serving (1 plate, multiple servings)-4,000 Naira</p>
        <p>Jollof Rice with Fried Plantain-4,200 Naira</p>
        <p>Custom Jollof Rice (special ingredients)-4,500 Naira</p>
        <p>Family Size Serving (2-3 people)-4,700 Naira</p>
        <p>Jollof Rice with Beef or Goat Meat-4,800 Naira</p>
        <p>Party Size Tray (Feeds 10-15 people)-5,000 Naira</p>
    </div>